
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}



.content-wrapper {
  background-image: url("../img/background.jpg");
  background-size: cover;
}

.text-dark {
    color: #fff!important;
	font-weight: bold;
}

.sidebar {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    overflow-y: auto;
    height: calc(100% - 4rem);
	background: #28a745;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#28a745),color-stop(1,#34ce57));
}

.sidebar-dark-primary .sidebar a {
    color: #000;
}

.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link {
    color: #000;
}

.sidebar-dark-primary .nav-header {
    color: #000;
    background: inherit;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    color: #fff;
    background-color: #1e8c37;
}

.btn-primary {
    color: #fff;
    background-color: #1e8c37;
    border-color: #1e8c37;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
}

.breadcrumb-item.active {
    color: #ffffff;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f1f1f1;
    background-clip: padding-box;
    border: 1px solid #f1f1f1;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.brand-link {
    color: rgba(255,255,255,.8);
	background: #34ce57;

}

.show .nl-copyright:not(.active) {
	color: #fff !important;
}
.callout a {
	color: #000;
	text-decoration: underline;
}
.callout a:hover {
	color: #000;
}
.thumbnails li img {
	width: 60px;
}
.dropdown-menu-lg {
	max-width: none;
}